/*Text Styles
h1 60 bold
h2 50 bold
h3 40 bold
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/** {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f4f6fc;
}*/

body{
    width:  1440px;
    height: 4490px;
    background: #f4f6fc;
}

/* Navbar */




li , a, button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #072ac8;
    text-decoration: none;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a {
    transition: all 0.3s ease 0s;
}
.nav-links a:hover {
    color: ;
}